body {
	background-color: lavender;

}
#all-pets{background-color: light blue;
}

.individual-pet{
	border-style: solid;
	border-width: 10px;
}
img{
	width:150px;
	height:150px;
}
h2{
	color: yellow;
	font-family: "comic sans MS";
}
p{ font-size: 50px;
	font-family: "comic sans MS";
 }